{% extends "base.html" %}
{% load static %}

{% block title %}
Stránka o zvířeti {{ zvire.druh|lower }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "informace/style.css" %}">
{% endblock %}

{% block hlavni %}
<div>
    <h1>{{ nadpis|capfirst }}</h1>
    <p>{{ nadpis|capfirst }} má {{ zvire.vek }} let.</p>
    <p>První popis: {{ zvire.popis }}.</p>
    <p>Druhý popis: {{ popis }}.</p>
    <p>Má barvu: {{ zvire.barva }}.</p>
</div>

<a href="{% url 'seznam_zvirat' %}">Zpět na seznam zvířat</a>
{% endblock hlavni %}

{% block js %}
<script src="{% static "informace/script.js" %}"></script>
{% endblock %}